# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
*.tar

# Temporary files, for example, from tests.
*.tmp

# Burrito build artifacts
/burrito_out/
*.exe

# Escript build artifacts
construir_escala
